@import '../../index';

top-bar {
  .header-container {
    position: sticky;
    top: 0;
    background-color: $dark-background;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $header-font;
    font-weight: 200;

    h1 {
      margin-top: 0;
    }

    .box-container {
      display: flex;
      flex-direction: row;
    }

    .topbar-button {
      padding: 0.2rem;
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }

      span {
        top: 0.25rem;
        position: relative;
        // transform: scale(0.9);
        font-size: 1.2rem;
      }
    }

    .vertical-line {
      border-left: 1px solid rgba(255, 255, 255, 0.7);
      height: 1.2rem;
      position: relative;
      top: 1.4rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @for $i from 1 through 4 {
      .box-#{$i} {
        $alpha: 1 - $i / 10;
        background-color: rgba(153, 7, 0, $alpha);
        height: 2rem;
        width: 2rem;
      }
    }

    @for $i from 5 through 10 {
      .box-#{$i} {
        $alpha: 1 - ($i * 0.05) - 0.2;
        background-color: rgba(153, 7, 0, $alpha);
        height: 2rem;
        width: 2rem;
      }
    }

  }
}
