<div class="flex flex-row justify-between header-container">
  <div class="flex flex-col">
    <h1>Zachary Carpenter</h1>

    <div class="box-container">
      <div class="box-1"></div>
      <div class="box-2"></div>
      <div class="box-3"></div>
      <div class="box-4"></div>
      <div class="box-5"></div>
      <div class="box-6"></div>
      <div class="box-7"></div>
      <div class="box-8"></div>
      <div class="box-9"></div>
      <div class="box-10"></div>
    </div>

    <div class="flex flex-row">
      <a href="/index.html" class="topbar-button">
        <span class="material-symbols-outlined">
          home
        </span>
        Home
      </a>
      <div class="vertical-line"></div>
      <a href="/pages/about/about.html" class="topbar-button">
        <span class="material-symbols-outlined">
          info
        </span>
        About
      </a>
    </div>
  </div>
</div>

