$header-font: "IBM Plex Sans";
$body-font: "Fira Sans";
$body-font-size: 1.2rem;
$body-font-size-sm-screen: 1.1rem;

$dark-background: #0D0D0D;
$small-screen-breakpoint-px: 450px;
$site-red: rgba(153, 7, 0, 0.9);
