@import 'styles/variables';
@import 'styles/headers';
@import 'styles/elements';



/* use variables for colors/fonts/sizes */




.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col-4 {
  flex: 0 0 25%;
}
.flex-col-8 {
  flex: 0 0 75%;
}
.flex-col-2 {
  flex: 0 0 16.66%;
}

.flex-col-10 {
  flex: 0 0 83.33%;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.about {
  // padding-top: 10px;
  font-weight: 300;
}

.date {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: $header-font;
  font-weight: 300;
}

.title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  font-family: $header-font;
  margin-top: -0.4rem;
  margin-bottom: 0;
}

.article-link {
  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.5rem;

  &:hover {
    color: white !important;
  }
}

